@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
$scale:100px;
$time:1s;
@mixin common ($a,$b,$c,$d,$e,$f,$g){
    display: $a;
    flex-direction: $b;
    justify-content: $c;
    align-items: $d;
    width: $e;
    height: $f;
    background-color: $g;
    transition:all $time ease;
  }

  
*{
    padding: 0px;
    padding:0px;
    box-sizing:border-box;
    body{
        @include common(flex,column,center,center,100%,null,null);
        min-height:100vh;
        font-family: 'Poppins';
      }
}
.container{
  display: flex;
  flex-direction:column ;
    width: 80%;
    @media(min-width:500px){
      width: 50%;
    }
    .title{
      text-align: center;
    }
    .content{
      text-align: justify;
    }

input[type="checkbox"]{
  display: none;
}
}
.btn{
  align-self: center;
  margin: 15px 0;
}

.box{
  @include common(flex,column,center,null,$scale,$scale/2,#000 );
  position:relative;
  border-radius: $scale/4;
  cursor: pointer;
  .ball{
    @include common(null,null,null,null,$scale/2,$scale/2,grey  );
    position: absolute;
    border-radius: 50%;
    border: 3px solid black;
  }
  .scenary{
    @include common(flex,row,space-between,null,null,null,null);
    padding: 5px 10px 0px 10px;
    svg{
      width: $scale/3;
    }
  }
}